@media all {
  .page-break {
    display: none;
  }
  .print-only {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: always;
  }
  .print-only {
    display: block;
  }
  div {
    break-inside: avoid;
  }
  .do-not-print {
    display: none !important;
  }
}

@page {
  size: auto;
  margin: 20mm !important;
}
